.footer-container{
    height: 2.5rem;
    width: 100%;
    background-color: #07aaf0;
    color: white; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /*color effect*/
    background: linear-gradient(-45deg, #0466f8, #438ef0, #a4c6f3, #255ea8);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
