body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Encompasses the space between the nav bar & footer */
.child-container{
    background-color: #d9dadb;
    min-height: 100vh; 
}