body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
   

.menubar{
    text-align: center;
}

/* Encompasses the space between the nav bar & footer */
.child-container{
    background-color: #d9dadb;
    min-height: 100vh; 
}

.footer-container{
    height: 2.5rem;
    width: 100%;
    background-color: #07aaf0;
    color: white; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}